html
    head
        title Welcome Page
    body
       div Hey! #{id}, How Are You Doing Today.?
       div Want To Log Out.?
       div
           a(href="logout")
               button(type='button') Logout